/* Social Login Buttons */
#loginHead {
	position: absolute;
	top: 510px;
	left: 480px;
	width: 500px;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;

}

#orSeparator {
	position:relative;
	margin-left:30px;
}

#socialSeparatorTop {
	position: absolute;
	top: 0px;
	left: 30px;
	height: 145px;
	width: 1px;
	background-color: #666;
}

#or {
	position: absolute;
	top: 145px;
	left: 8px;
	width: 40px;
	/*height: 16px;
	font-weight: bold;*/
	display: inline-block;
	border-radius: 22px;
	line-height: 16px;
	padding: 12px 0px;
	border: 1px solid #666;
	color: #666;	
  	text-align: center;
	margin-left:2px;
}

#socialSeparatorBottom {
	position: absolute;
	top: 186px;
	left: 30px;
	height: 155px;
	width: 1px;
	background-color: #666;
}

#socialLogin {
	height: 250px;
    left: 150px;
    margin-top: 30px;
    position: relative;
    width: 80%;
}

#socialHead {	
	width: 300px;
	color: #666;
	text-align: center;
	font-size: 13px;
	font-family: inherit;

}

#socialNote {
	position: absolute;
	top: 250px;
	left: 0px;
	width: 280px;
	color: #666;
	text-align: left;
}

#fblogin {
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    float: left;
    top: 40px;
    left: 0px;
    height: 50px;
    position: absolute;
    text-align: left;
    text-decoration: none solid rgb(68, 68, 68);
    text-shadow: rgb(255, 255, 255) 0px 1px 0px;
    vertical-align: middle;
    white-space: nowrap;
    width: 290px;
    background: rgba(0, 0, 0, 0) -webkit-linear-gradient(rgb(86, 120, 188), rgb(49, 74, 123)) repeat scroll 0% 0% / auto padding-box border-box;
    background: rgba(0, 0, 0, 0) linear-gradient(rgb(86, 120, 188), rgb(49, 74, 123)) repeat scroll 0% 0% / auto padding-box border-box;
    border-top: 1px solid rgb(49, 74, 123);
    border-right: 1px solid rgb(42, 64, 105);
    border-bottom: 1px solid rgb(42, 64, 105);
    border-left: 1px solid rgb(42, 64, 105);
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    font: normal normal 16px/normal 'Helvetica Neue', Helvetica, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', arial, sans-serif;
    font-size: 16px;
    margin: 0px;
    outline: rgb(68, 68, 68) none 0px;
    overflow: hidden;
    padding: 10px 18px;
}

#fbname {
    background-position: 0px 0px;
    bottom: 0px;
    box-shadow: rgba(0, 0, 0, 0.0470588) 1px 0px 0px 0px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    height: 48px;
    left: 0px;
    position: absolute;
    text-align: center;
    text-decoration: none solid rgb(68, 68, 68);
    text-shadow: rgb(255, 255, 255) 0px 1px 0px;
    top: 0px;
    vertical-align: middle;
    white-space: nowrap;
    width: 50px;
    align-self: flex-start;
    background: rgba(255, 255, 255, 0.0784314) no-repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(68, 68, 68);
    font: normal normal 16px/normal 'Helvetica Neue', Helvetica, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', arial, sans-serif;
    outline: rgb(68, 68, 68) none 0px;
}

#fbtext {
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    height: 17px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px;
    vertical-align: middle;
    white-space: nowrap;
    width: 150px;
    align-self: flex-start;
    border: 0px none rgb(255, 255, 255);
    font: normal normal bold 16px/normal 'Helvetica Neue', Helvetica, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', arial, sans-serif;
    margin: -3px 0px 0px 42px;
    outline: rgb(255, 255, 255) none 0px;
}

#gpluslogin {
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    float: left;
    top: 110px;
    left: 0px;
    height: 50px;
    position: absolute;
    text-align: left;
    text-decoration: none solid rgb(68, 68, 68);
    text-shadow: rgb(255, 255, 255) 0px 1px 0px;
    vertical-align: middle;
    white-space: nowrap;
    width: 290px;
    background-color: #DD4B39;
    background: -webkit-linear-gradient(#DD4B39,#D14836);
    background: linear-gradient(#DD4B39,#D14836);
    border-top: 1px solid rgb(230, 88, 88);
    border-right: 1px solid rgb(227, 66, 66);
    border-bottom: 1px solid rgb(227, 66, 66);
    border-left: 1px solid rgb(227, 66, 66);
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    font: normal normal 16px/normal 'Helvetica Neue', Helvetica, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', arial, sans-serif;
    font-size: 16px;
    margin: 0px;
    outline: rgb(68, 68, 68) none 0px;
    overflow: hidden;
    padding: 10px 18px;
}

#gpname {
    background-position: 0px 0px;
    bottom: 0px;
    box-shadow: rgba(0, 0, 0, 0.0470588) 1px 0px 0px 0px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    height: 48px;
    left: 0px;
    position: absolute;
    text-align: center;
    text-decoration: none solid rgb(68, 68, 68);
    text-shadow: rgb(255, 255, 255) 0px 1px 0px;
    top: 0px;
    vertical-align: middle;
    white-space: nowrap;
    width: 50px;
    align-self: flex-start;
    background: rgba(255, 255, 255, 0.0666667) no-repeat scroll -43px -44px / auto padding-box border-box;
    border: 0px none rgb(68, 68, 68);
    font: normal normal 16px/normal 'Helvetica Neue', Helvetica, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', arial, sans-serif;
    outline: rgb(68, 68, 68) none 0px;
}

#gptext {
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    height: 17px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px;
    vertical-align: middle;
    white-space: nowrap;
    width: 133px;
    align-self: flex-start;
    border: 0px none rgb(255, 255, 255);
    font: normal normal bold 16px/normal 'Helvetica Neue', Helvetica, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', arial, sans-serif;
    margin: -3px 0px 0px 42px;
    outline: rgb(255, 255, 255) none 0px;
}

#twtrlogin {
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    float: left;
    top: 180px;
    left: 0px;
    height: 50px;
    position: absolute;
    text-align: left;
    text-decoration: none solid rgb(68, 68, 68);
    text-shadow: rgb(255, 255, 255) 0px 1px 0px;
    vertical-align: middle;
    white-space: nowrap;
    width: 290px;
    background-color: #3fa7d0;
	background: -webkit-linear-gradient(#5fbee4, #2091bd);
	background: linear-gradient(#5fbee4, #2091bd);
	border: 1px solid #1c82a7;
	border-top-color: #2091bd;
	text-shadow: 0 1px #ffffff;
	border-top: 1px solid rgb(32, 145, 189);
    border-right: 1px solid rgb(28, 130, 167);
    border-bottom: 1px solid rgb(28, 130, 167);
    border-left: 1px solid rgb(28, 130, 167);
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    font: normal normal 16px/normal 'Helvetica Neue', Helvetica, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', arial, sans-serif;
    font-size: 16px;
    margin: 0px;
    outline: rgb(68, 68, 68) none 0px;
    overflow: hidden;
    padding: 10px 18px;
}

#twtrname {
    background-position: 0px 0px;
    bottom: 0px;
    box-shadow: rgba(0, 0, 0, 0.0470588) 1px 0px 0px 0px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    height: 48px;
    left: 0px;
    position: absolute;
    text-align: center;
    text-decoration: none solid rgb(68, 68, 68);
    text-shadow: rgb(255, 255, 255) 0px 1px 0px;
    top: 0px;
    vertical-align: middle;
    white-space: nowrap;
    width: 50px;
    align-self: flex-start;
    background: rgba(255, 255, 255, 0.0666667) no-repeat scroll -43px -44px / auto padding-box border-box;
    border: 0px none rgb(68, 68, 68);
    font: normal normal 16px/normal 'Helvetica Neue', Helvetica, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', arial, sans-serif;
    outline: rgb(68, 68, 68) none 0px;
}

#twtrtext {
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    height: 17px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px;
    vertical-align: middle;
    white-space: nowrap;
    width: 133px;
    align-self: flex-start;
    border: 0px none rgb(255, 255, 255);
    font: normal normal bold 16px/normal 'Helvetica Neue', Helvetica, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', arial, sans-serif;
    margin: -3px 0px 0px 42px;
    outline: rgb(255, 255, 255) none 0px;
}